.container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.detailModalBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 800px;
  max-height: 80vh;
  background-color: #fff;
  border-radius: 8px;
  overflow-y: auto;
  padding: 20px;
  outline: none;
}

.interaction {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
  margin-bottom: 10px;
}
